DATABASE_URL="postgresql://postgres:postgres@localhost:5432/reportaya_db"
CLOUDINARY_CLOUD_NAME=defhignci
CLOUDINARY_API_KEY=237787945748428
CLOUDINARY_API_SECRET=8QUC97rUT48I_HTQbhbsd1slCWc
JWT_SECRET=reportaya_secret_key
PORT=3000
GROQ_API_KEY=TU_API_KEY_AQUI
